TRY.ipynb
Exams/Exam1.pdf
Exams/Exam2.pdf
Exams/Exam3.pdf
Exams/Exam4.pdf
Exams/exam5.pdf
Exams/Exam6.pdf
Exams/Exam7.pdf
Exams/Exam8.pdf
Exams/Exam9.pdf
Exams/Exam10.pdf
Exams Solutions/Solution1.pdf
Exams Solutions/Solution2.pdf
Exams Solutions/Solution3.pdf
Exams Solutions/Solution4.pdf
Exams Solutions/Solution5.pdf
Exams Solutions/Solution6.pdf
Exams Solutions/Solution7.pdf
Exams Solutions/Solution8.pdf
Exams Solutions/Solution9.pdf
Exams Solutions/Solution10.pdf
HW2/HW2.docx
HW2/code2_318653789.zip
HW3/code3_318653789/HW3.ipynb
HW3/colorful.tif
HW3/EX3_2023B.pdf
HW3/SpongeBob.mat
HW3/Mandrill.jpg
